<library path="src">
  <class name="BasestationGuiPlugin" type="Gui.BasestationGuiPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <group>
        <label>Basestation Gui</label>
      </group>
      <label>Basestation Gui</label>
      <icon type="theme">system-help</icon>
      <statustip>Basestation Gui interface.</statustip>
    </qtgui>
  </class>
</library>
