<launch>

	<!-- set a rosparam for if we're going to simulate the command post or not -->
	
	<arg name="simulating_command_post" default="false"/>
	<param name="simulating_command_post" value= "$(arg simulating_command_post)" />

	<!--launch the gui-->
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" output="screen" />

    

</launch>