<launch>
    <!-- Setup YAML file which specifies robot and DARPA info. -->
    <param name="gui_setup" value="setup.yaml"/>

	<!-- set arguement for if we're going to simulate the command post or not -->
	<arg name="connect_to_command_post" default="false"/>
	<param name="connect_to_command_post" value= "$(arg connect_to_command_post)" />

	<!-- set arguement for if we should simulate incoming artifact detections -->
	<arg name="simulating_artifact_detections" default="false"/>
	<param name="simulating_artifact_detections" value= "$(arg simulating_artifact_detections)" />

	<group if="$(arg simulating_artifact_detections)">
		<node pkg="basestation_gui_python" name="fake_artifact_detections" type="fake_artifact_detections.py" output="screen"/>
	</group>

	<!-- launch the interactive marker stuff -->
	<node pkg="basestation_gui_python" name="interactiveMarkerProcessing" type="interactiveMarkerProcessing.py" args = 'basic_controls' output="screen">
		<param name="execute_target" type="double" value="15." />
    </node>

	<node pkg="basestation_gui_python" name="interactiveMarkerProcessingDefineWaypoint" type="interactiveMarkerProcessing.py" args = 'define_waypoint' output="screen">
		<param name="execute_target" type="double" value="15." />
    </node>


	<!--launch the gui-->
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args = '--perspective-file $(find basestation_gui_python)/config/subt_test_gui.perspective' output="screen" />

    <!--launch the darpa status monitor node-->
    <node name="darpaStatusMonitor" pkg="basestation_gui_python" type="darpaStatusMonitor.py" output="screen">
    	<param name="execute_target" type="double" value="3." />
    </node>

    <!-- Node to handle adding/deleting/managing artifacts -->
    <node pkg="basestation_gui_python" name="ArtifactHandler" type="ArtifactHandler.py" output="screen">
    	<param name="execute_target" type="double" value="20." />
    </node>

   

</launch>

